
###########################################################################
################       Start of all the settings          #################
###########################################################################


# KEY DEFINITIONS TO REMEMBER

# $Mod = WINDOWS key or Super key or Mod4
# Mod1 = ALT key
# Control = CTRL key
# Shift = SHIFT key
# Escape = ESCAPE key
# Return = ENTER or RETURN key
# Pause = PAUSE key
# Print = PRINT key
# Tab = TAB key

# Key to rule them all : windows or Alt key?

# Mod4 = windows key on keyboard or super key
# Alt key is Mod1 if you want to change the $mod key
set $mod Mod4

################### STOPPING A PROGRAM #########################

# kill focused window
bindsym $mod+Shift+q kill

################### MOVING AROUND ##############################


# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right


###################       SCRATCHPAD      ##############################

# move the currently focused window to the scratchpad
# bindsym Mod1+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
# bindsym Mod1+minus scratchpad show


################### TILING PARAMETERS ##############################

# orientation for new workspaces 
default_orientation horizontal

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split


# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# focus the child container
#bindsym $mod+d focus child


################### RELOAD AND EXIT #####################


# reload the configuration file
bindsym $mod+Shift+c reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
# bindsym $mod+Shift+r restart
bindsym $mod+Shift+r exec --no-startup-id {{ (ansible_user_dir, script_dir, "reboot.sh") | path_join }}

# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec i3-msg exit


################### RESIZE ##############################


# resize window (you can also use the mouse for that)
## instant resize without "mode_resize"

bindsym Mod1+Shift+Left  resize shrink width  5 px or 5 ppt
bindsym Mod1+Shift+Down  resize grow   height 5 px or 5 ppt
bindsym Mod1+Shift+Up    resize shrink height 5 px or 5 ppt
bindsym Mod1+Shift+Right resize grow   width  5 px or 5 ppt


################### FONTS ######################

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
# choose your font
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# font -misc-fixed-bold-r-normal-*-15-140-75-75-c-90-iso10646-1
# font pango:DejaVu Sans Mono 12
# font pango:DejaVu Sans Mono, Terminus Bold Semi-Condensed 11
# font pango:Droid Sans Mono Dotted 12
# font pango:hermit 12
# font pango:Inconsolata 15
# font pango:monospace 12
# font pango:SourceCodePro-SemiBold 11
# font pango:Source Code Pro for Powerline, FontAwesome Regular, Icons 9
# font pango:Terminus 14px
# font pango:UbuntuMono-regular 12
# from ttf-chromeos-fonts
# font pango:Cousine 13
# font pango:Arimo 11
# font pango:Sans 13
# font pango:Noto Mono Regular 13
# font pango:DroidSansMono 13
font pango:System San Francisco Display 11


################### MENU ######################

# start rofi
bindsym $mod+d exec rofi -lines "4" -fake-transparency -show run -config {{ (ansible_user_dir, i3_config_dir, 'rofi.conf') | path_join }}
#bindsym $mod+d exec rofi -show run -config "/home/chris/.config/rofi/rofi_big.conf"
# rofi ssh
bindsym $mod+c exec rofi -lines "4" -terminal st -fake-transparency -show ssh -config {{ (ansible_user_dir, i3_config_dir, 'rofi.conf') | path_join }}

# password selctor
bindsym $mod+g exec {{ (ansible_user_dir, script_dir, "gopass_selector.sh") | path_join }}
bindsym $mod+Shift+g exec {{ (ansible_user_dir, script_dir, "gopass_qr.sh") | path_join }}

################### DUAL SCREEN ######################

{{ i3_screen_config }}

# switch to workspace
bindsym $mod+exclam     workspace 1
bindsym $mod+quotedbl   workspace 2
bindsym $mod+section    workspace 3
bindsym $mod+dollar     workspace 4
bindsym $mod+percent    workspace 5
bindsym $mod+ampersand  workspace 6
bindsym $mod+slash      workspace 7
bindsym $mod+parenleft  workspace 8
bindsym $mod+parenright workspace 9
bindsym $mod+equal      workspace 10

# move focused container to workspace
bindsym $mod+Shift+exclam     move container to workspace 1;  workspace 1
bindsym $mod+Shift+quotedbl   move container to workspace 2;  workspace 2
bindsym $mod+Shift+section    move container to workspace 3;  workspace 3
bindsym $mod+Shift+dollar     move container to workspace 4;  workspace 4
bindsym $mod+Shift+percent    move container to workspace 5;  workspace 5
bindsym $mod+Shift+ampersand  move container to workspace 6;  workspace 6
bindsym $mod+Shift+slash      move container to workspace 7;  workspace 7
bindsym $mod+Shift+parenleft  move container to workspace 8;  workspace 8
bindsym $mod+Shift+parenright move container to workspace 9;  workspace 9
bindsym $mod+Shift+equal      move container to workspace 10; workspace 10


################### ASSIGN ######################

# Assign application to start on a specific workspace
# you can find the class with the program xprop

assign [class="thunderbird|Evolution"]                                              → 2
assign [class="Firefox-esr|firefox"]                                                → 3
assign [class="Inkscape"]                                                           → 3
assign [class="Gimp"]                                                               → 4
assign [class="ristretto|Ristretto|shotwell|Shotwell|Xviewer"]                      → 5
assign [class="Meld"]                                                               → 5
assign [class="feh|Pinta"]                                                          → 5
assign [class="Brackets|Atom|Code"]                                                 → 5
assign [class="Vmplayer|VirtualBox"]                                                → 7
assign [class="Nemo"]                                                               → 8
assign [class="Telegram|Signal"]                                                    → 9
assign [class="Spotify|spotify"]                                                    → 10
assign [class="discord"]                                                            → 11
assign [class="Wire"]                                                               → 12
assign [class="Slack|slack|Element"]                                                → 13
#fix for spotify not moving to workspace 10
for_window [class="Spotify"] move to workspace 10
#for_window [class="^Discord"] move to workspace 11

################### EXECUTE ######################


# TRAY APPLICATIONS

# num lock activated
exec numlockx on
# volume
exec pasystray
#variety
exec variety
# clipit
#exec clipit


# USER APPLICATIONS

for_window [class="Telegram"] focus
for_window [class="Firefox"] focus
for_window [class="Spotify"] focus
for_window [class="discord"] focus

{% for user_application in i3_user_applications %}
{{ user_application }}
{% endfor %}

################### SHORTCUTS APPLICATIONS ######################
#mod1 = ALT

#workspace 1 related
bindsym control+mod1+f exec firefox;workspace 1; focus

#workspace 2 related
#sublime text see at bottom distro dependent

#workspace 3 related

#workspace 4 related

#workspace 5 related

#workspace 6 related

#workspace 7 related

#workspace 8 related

#workspace 9 related

#workspace 10 related
# bindsym $mod+F10 exec spotify;workspace 10;focus
bindsym control+mod1+s exec spotify;workspace 10;focus


################### SHORTCUTS WORKSPACES ######################

# next/previous workspace

bindsym Mod1+Tab       workspace next
bindsym Mod1+Shift+Tab workspace prev
bindsym $mod+Tab       workspace back_and_forth

# navigate workspaces next / previous
bindsym Mod1+Ctrl+Right workspace next
bindsym Mod1+Ctrl+Left  workspace prev

# switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# open up a new workspace
bindsym $mod+n exec --no-startup-id {{ (ansible_user_dir, script_dir, "empty_workspace.sh") | path_join }}

# move the current program to the next ws
bindsym $mod+x move container to workspace next; workspace next

# move the program to the (last+1) workspace
bindsym $mod+Shift+n exec --no-startup-id {{ (ansible_user_dir, script_dir, "mtnp1.sh") | path_join }}

# lock screen
bindsym $mod+Shift+x exec --no-startup-id {{ (ansible_user_dir, script_dir, "lockscreen.sh") | path_join }}

# shutdown computer
bindsym $mod+Shift+s exec --no-startup-id {{ (ansible_user_dir, script_dir, "shutdown.sh") | path_join }}

################### SCREENSHOTS ######################


bindsym Print exec --no-startup-id {{ (ansible_user_dir, script_dir, "scrot.sh") | path_join }}
bindsym $mod+Print exec --no-startup-id {{ i3_default_screenshot }}


################### FLOATING OR TILED ######################


# floating enabled from some programs - find with xprop
for_window [class="^Gnome-font-viewer$"] floating enable
for_window [class="^Gpick$"] floating enable
#for_window [class="^Vlc$"] floating enable
#for_window [class="^Spotify$"] floating enable workspace 10
#for_window [instance="gimp"] floating enable
for_window [window_role="^gimp-toolbox-color-dialog$"] floating enable
for_window [instance="variety"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="^Preferences$"] floating enable
for_window [window_role="setup"] floating enable
for_window [title="^Terminator Preferences$"] floating enable
#for_window [class="Font-manager"] floating enable
for_window [class="System-config-printer.py"] floating enable
for_window [class="Nitrogen"] floating enable
for_window [title="Copying"] floating enable
for_window [title="Deleting"] floating enable
for_window [title="Moving"] floating enable
for_window [class="Galculator"] floating enable
for_window [class="Usb-creator-gtk"] floating enable
for_window [instance="script-fu"] border normal
for_window [class="Imagewriter"] floating enable
for_window [class="Blueberry"] floating enable
for_window [class="Gtklp"] floating enable
for_window [class="^Thunderbird|thunderbird"] layout stacking
for_window [class="Pinentry"] floating enable
for_window [class="Ristretto"] focus
for_window [class="Shutter"] floating enable
for_window [title="^Figure " class="^ $"] floating enable
for_window [class="seafile-applet"] floating enable
for_window [class="Seafile Client"] floating enable


#Popups during fullscreen mode
popup_during_fullscreen smart


################### VARIETY ######################


#Variety keybindings mod1 = ALT
# trash wallpaper
bindsym mod1+t exec variety -t
# next wallpaper
bindsym mod1+n exec variety -n
bindsym mod1+Right exec variety -n
# previous wallpaper
bindsym mod1+p exec variety -p
bindsym mod1+Left exec variety -p
# favorite wallpaper
bindsym mod1+f exec variety -f


################## Backlight ###################

#script $1 states up,down or default; $2 defines how big the steps by $1{1,2} are
bindsym XF86MonBrightnessUp   exec --no-startup-id {{ (ansible_user_dir, script_dir, "xbacklight.sh") | path_join }} 1 5
bindsym XF86MonBrightnessDown exec --no-startup-id {{ (ansible_user_dir, script_dir, "xbacklight.sh") | path_join }} 2 5


################### AUDIO ######################

bindsym XF86AudioRaiseVolume exec "amixer -D pulse sset Master '2%+'"
bindsym XF86AudioLowerVolume exec "amixer -D pulse sset Master '2%-'"
bindsym XF86AudioMute exec "amixer -D pulse set Master toggle"
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioStop exec playerctl stop
#bindsym XF86AudioPlay exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause" 
#bindsym XF86AudioNext exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next" 
#bindsym XF86AudioPrev exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Previous"
#bindsym XF86AudioStop exec "dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Stop"



################### BAR ######################

# bar toggle, hide or show
bindsym $mod+b exec --no-startup-id {{ (ansible_user_dir, script_dir, "toggle_polybar.sh") | path_join }}


################### BORDER ######################

# Border control
hide_edge_borders both
bindsym $mod+shift+b exec i3-msg border toggle

#changing border style
bindsym $mod+t border normal
bindsym $mod+u border none


new_window pixel 0
#new_window normal
#new_window none

#new_float pixel 1
new_float normal
#new_float none


###################       KEYBOARD      ##############################

# Change this if you use qwerty
exec --no-startup-id setxkbmap de


###################       UNCLUTTER      ##############################

# get the mouse out of the way with unclutter
exec unclutter 


###################     BAR APPEARANCE    ######################

# DarkGrey background with white text - not focus grey background - black text
# Windows decoration colors
# class                 border  backgr. text    indicator
client.placeholder      #242424 #242424 #242424
client.background       #242424 #242424 #242424
client.focused          #4A4A4A #4A4A4A #e5e5e5 #4A4A4A
client.unfocused        #222222 #222222 #aaaaaa #222222
client.focused_inactive #222222 #222222 #a9a9a9 #222222
client.urgent           #4A4A4A #4A4A4A #f7f7f7 #4A4A4A

exec --no-startup-id {{ (ansible_user_dir, polybar_config_dir, 'polybar_launcher.sh') | path_join }}

###########################################################
################### DISTRO DEPENDENT ######################
###########################################################

bindsym $mod+Return exec {{ i3_default_terminal }};focus


bindsym control+mod1+t exec i3-sensible-terminal; focus
#bindsym control+mod1+t exec terminator;focus


# System monitor
bindsym control+Shift+Escape exec gnome-system-monitor;focus


# workspace 2 related
#bindsym $mod+F2 exec subl;workspace 2;focus
#bindsym control+mod1+w exec subl;workspace 2;focus
bindsym $mod+F2 exec subl3;workspace 2;focus
bindsym control+mod1+w exec subl3;workspace 2;focus

# workspace 8 related

# file managers

#exec nemo --no-desktop

#filemanager focus
for_window [class="Nemo"] focus

bindsym $mod+Shift+Return exec nemo --no-desktop;focus
bindsym control+mod1+b exec nemo --no-desktop;workspace 8;focus

# arch/antergos
exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# bluetooth
exec blueberry-tray

# sync services
exec owncloud
exec nextcloud
exec seafile-applet

# slack
# exec slack

for_window [instance="TODOLISTTERMINAL"] floating enable, move position center, resize set 800 500;
bindsym $mod+Shift+t exec --no-startup-id {{ (ansible_user_dir, script_dir, "toggle_todo.sh") | path_join }}

# network
exec --no-startup-id nm-applet
