# THIS FILE IS MANAGED BY ANSIBLE
[core]
    safecontent = false
    parsing = true
    notifications = true
    nopager = false
    exportkeys = true
    cliptimeout = 45
    autopush = true
    autoimport = true
    autoclip = true
[mounts]
    path = {{ default_store.path }}
{% for mount in other_mounts %}
[mounts "{{ mount.name }}"]
    path = {{ mount.path }}
{% endfor %}
